@import 'https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap';
:root {
  --section-spacing: 8rem;
  --clr-red-100: #fcc;
  --clr-red-200: #f99;
  --clr-red-300: #f66;
  --clr-red-400: #f33;
  --clr-red-500: #f00;
  --clr-red-600: #c00;
  --clr-red-700: #900;
  --clr-red-800: #600;
  --clr-red-900: #300;
  --clr-blue-100: #ccf;
  --clr-blue-200: #99f;
  --clr-blue-300: #66f;
  --clr-blue-400: #33f;
  --clr-blue-500: #00f;
  --clr-blue-600: #00c;
  --clr-blue-700: #009;
  --clr-blue-800: #006;
  --clr-blue-900: #003;
  --clr-purple-100: #e5cce5;
  --clr-purple-200: #c9c;
  --clr-purple-300: #b266b2;
  --clr-purple-400: #939;
  --clr-purple-500: #7f007f;
  --clr-purple-600: #606;
  --clr-purple-700: #4c004c;
  --clr-purple-800: #303;
  --clr-purple-900: #190019;
  --clr-neutral-100: #dbcdc6;
  --clr-neutral-200: #dccec7;
  --clr-neutral-300: #bbafaa;
  --clr-neutral-400: #9b918c;
  --clr-neutral-500: #7a726f;
  --clr-neutral-600: #595351;
  --clr-neutral-700: #393533;
  --clr-neutral-800: #181616;
  --clr-neutral-900: #191716;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 2rem;
  --fs-600: 2.827rem;
  --fs-700: 4rem;
  --fs-800: 5.653rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--clr-neutral-100);
}

p {
  margin-bottom: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2,
.h2 {
  font-size: 3.998rem;
}

h3,
.h3 {
  font-size: 2.827rem;
}

h4,
.h4 {
  font-size: 1.999rem;
}

h5,
.h5 {
  font-size: 1.414rem;
}

small,
.text_small {
  font-size: 0.707rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.text-red-100 {
  color: var(--clr-red-100) !important;
}

.bg-red-100 {
  background-color: var(--clr-red-100) !important;
}

.text-red-200 {
  color: var(--clr-red-200) !important;
}

.bg-red-200 {
  background-color: var(--clr-red-200) !important;
}

.text-red-300 {
  color: var(--clr-red-300) !important;
}

.bg-red-300 {
  background-color: var(--clr-red-300) !important;
}

.text-red-400 {
  color: var(--clr-red-400) !important;
}

.bg-red-400 {
  background-color: var(--clr-red-400) !important;
}

.text-red-500 {
  color: var(--clr-red-500) !important;
}

.bg-red-500 {
  background-color: var(--clr-red-500) !important;
}

.text-red-600 {
  color: var(--clr-red-600) !important;
}

.bg-red-600 {
  background-color: var(--clr-red-600) !important;
}

.text-red-700 {
  color: var(--clr-red-700) !important;
}

.bg-red-700 {
  background-color: var(--clr-red-700) !important;
}

.text-red-800 {
  color: var(--clr-red-800) !important;
}

.bg-red-800 {
  background-color: var(--clr-red-800) !important;
}

.text-red-900 {
  color: var(--clr-red-900) !important;
}

.bg-red-900 {
  background-color: var(--clr-red-900) !important;
}

.text-blue-100 {
  color: var(--clr-blue-100) !important;
}

.bg-blue-100 {
  background-color: var(--clr-blue-100) !important;
}

.text-blue-200 {
  color: var(--clr-blue-200) !important;
}

.bg-blue-200 {
  background-color: var(--clr-blue-200) !important;
}

.text-blue-300 {
  color: var(--clr-blue-300) !important;
}

.bg-blue-300 {
  background-color: var(--clr-blue-300) !important;
}

.text-blue-400 {
  color: var(--clr-blue-400) !important;
}

.bg-blue-400 {
  background-color: var(--clr-blue-400) !important;
}

.text-blue-500 {
  color: var(--clr-blue-500) !important;
}

.bg-blue-500 {
  background-color: var(--clr-blue-500) !important;
}

.text-blue-600 {
  color: var(--clr-blue-600) !important;
}

.bg-blue-600 {
  background-color: var(--clr-blue-600) !important;
}

.text-blue-700 {
  color: var(--clr-blue-700) !important;
}

.bg-blue-700 {
  background-color: var(--clr-blue-700) !important;
}

.text-blue-800 {
  color: var(--clr-blue-800) !important;
}

.bg-blue-800 {
  background-color: var(--clr-blue-800) !important;
}

.text-blue-900 {
  color: var(--clr-blue-900) !important;
}

.bg-blue-900 {
  background-color: var(--clr-blue-900) !important;
}

.text-purple-100 {
  color: var(--clr-purple-100) !important;
}

.bg-purple-100 {
  background-color: var(--clr-purple-100) !important;
}

.text-purple-200 {
  color: var(--clr-purple-200) !important;
}

.bg-purple-200 {
  background-color: var(--clr-purple-200) !important;
}

.text-purple-300 {
  color: var(--clr-purple-300) !important;
}

.bg-purple-300 {
  background-color: var(--clr-purple-300) !important;
}

.text-purple-400 {
  color: var(--clr-purple-400) !important;
}

.bg-purple-400 {
  background-color: var(--clr-purple-400) !important;
}

.text-purple-500 {
  color: var(--clr-purple-500) !important;
}

.bg-purple-500 {
  background-color: var(--clr-purple-500) !important;
}

.text-purple-600 {
  color: var(--clr-purple-600) !important;
}

.bg-purple-600 {
  background-color: var(--clr-purple-600) !important;
}

.text-purple-700 {
  color: var(--clr-purple-700) !important;
}

.bg-purple-700 {
  background-color: var(--clr-purple-700) !important;
}

.text-purple-800 {
  color: var(--clr-purple-800) !important;
}

.bg-purple-800 {
  background-color: var(--clr-purple-800) !important;
}

.text-purple-900 {
  color: var(--clr-purple-900) !important;
}

.bg-purple-900 {
  background-color: var(--clr-purple-900) !important;
}

.text-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100) !important;
}

.text-neutral-200 {
  color: var(--clr-neutral-200) !important;
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200) !important;
}

.text-neutral-300 {
  color: var(--clr-neutral-300) !important;
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300) !important;
}

.text-neutral-400 {
  color: var(--clr-neutral-400) !important;
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400) !important;
}

.text-neutral-500 {
  color: var(--clr-neutral-500) !important;
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500) !important;
}

.text-neutral-600 {
  color: var(--clr-neutral-600) !important;
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600) !important;
}

.text-neutral-700 {
  color: var(--clr-neutral-700) !important;
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700) !important;
}

.text-neutral-800 {
  color: var(--clr-neutral-800) !important;
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800) !important;
}

.text-neutral-900 {
  color: var(--clr-neutral-900) !important;
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900) !important;
}

.red {
  --clr: var(--clr-red-500);
}

.blue {
  --clr: var(--clr-blue-500);
}

.purple {
  --clr: var(--clr-purple-500);
}

.light {
  --clr: var(--clr-neutral-100);
}

.dark {
  --clr: var(--clr-neutral-900);
}

.white {
  --clr: #fff;
}

.black {
  --clr: #000;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.cursor {
  z-index: 1000;
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-100);
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: transparent;
  mix-blend-mode: hard-light;
  transition:
    width 500ms ease-out,
    height 500ms ease-out,
    background-color 500ms ease-out;
}
.cursor.active {
  height: 76px;
  width: 76px;
  background-color: var(--clr-neutral-400);
}

.cursor-dot {
  z-index: 1000;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 1;
  transition: opacity 500ms;
}
.cursor-dot.active {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background: var(--clr-neutral-900);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-600);
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--neutral-100);
  align-items: center;
  padding: 3em;
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: var(--fs-400);
  gap: 8em;
}
.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8em;
}
.navbar .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: 0;
  padding: 0;
}

.hero {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3em;
  z-index: 1;
}
.hero h1 {
  font-size: 10em;
  font-weight: 500;
  color: var(--neutral-100);
  line-height: 1.3;
}
.hero p {
  font-size: var(--fs-400);
  color: var(--neutral-100);
  display: flex;
  font-weight: 100;
  letter-spacing: 1em;
  gap: 2em;
}
.hero p strong {
  color: var(--clr-neutral-100);
  font-weight: 900;
  text-indent: -1em;
  direction: rtl;
}
.hero__content {
  display: flex;
  flex-direction: column;
}
.hero__content > div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.hero__content .gradient-bar {
  width: 100%;
  height: 3em;
  background: linear-gradient(
    to right,
    var(--clr-red-500),
    var(--clr-blue-500)
  );
}
.hero .vertical {
  display: inline-block;
  background: var(--clr-purple-300);
  font-weight: 900;
  width: 0.2em;
  line-height: 0;
  height: 1.75em;
  margin: 0;
  transform: rotate(180deg);
}

.canvas {
  position: absolute !important;
  top: 0;
  z-index: -1;
  min-height: 100svh;
}
