@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Archivo Black';
  src: url('../fonts/ArchivoBlack.ttf') format('truetype');
  font-display: swap;
}
:root {
  --section-spacing: 8rem;
  --clr-primary-100: hsl(200, 89%, 80%);
  --clr-primary-200: hsl(200, 89%, 70%);
  --clr-primary-300: hsl(200, 89%, 60%);
  --clr-primary-400: hsl(200, 89%, 50%);
  --clr-primary-500: hsl(200, 89%, 40%);
  --clr-secondary-100: hsl(0, 100%, 80%);
  --clr-secondary-200: hsl(0, 100%, 70%);
  --clr-secondary-300: hsl(0, 100%, 60%);
  --clr-secondary-400: hsl(0, 100%, 50%);
  --clr-secondary-500: hsl(0, 100%, 40%);
  --clr-accent-100: hsl(320, 30%, 80%);
  --clr-accent-200: hsl(320, 30%, 70%);
  --clr-accent-300: hsl(320, 30%, 60%);
  --clr-accent-400: hsl(320, 30%, 50%);
  --clr-accent-500: hsl(320, 30%, 40%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 80%);
  --clr-neutral-400: hsl(0, 0%, 70%);
  --clr-neutral-500: hsl(0, 0%, 60%);
  --clr-neutral-600: hsl(0, 0%, 50%);
  --clr-neutral-700: hsl(0, 0%, 40%);
  --clr-neutral-800: hsl(0, 0%, 30%);
  --clr-neutral-900: hsl(0, 0%, 15%);
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 2rem;
  --fs-600: 2.827rem;
  --fs-700: 4rem;
  --fs-800: 5.653rem;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--clr-neutral-100);
}

p {
  margin-bottom: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2,
.h2 {
  font-size: 3.998rem;
}

h3,
.h3 {
  font-size: 2.827rem;
}

h4,
.h4 {
  font-size: 1.999rem;
}

h5,
.h5 {
  font-size: 1.414rem;
}

small,
.text_small {
  font-size: 0.707rem;
}

body {
  background-color: #000;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.text-primary-100 {
  color: var(--clr-primary-100) !important;
}

.bg-primary-100 {
  background-color: var(--clr-primary-100) !important;
}

.text-primary-200 {
  color: var(--clr-primary-200) !important;
}

.bg-primary-200 {
  background-color: var(--clr-primary-200) !important;
}

.text-primary-300 {
  color: var(--clr-primary-300) !important;
}

.bg-primary-300 {
  background-color: var(--clr-primary-300) !important;
}

.text-primary-400 {
  color: var(--clr-primary-400) !important;
}

.bg-primary-400 {
  background-color: var(--clr-primary-400) !important;
}

.text-primary-500 {
  color: var(--clr-primary-500) !important;
}

.bg-primary-500 {
  background-color: var(--clr-primary-500) !important;
}

.text-secondary-100 {
  color: var(--clr-secondary-100) !important;
}

.bg-secondary-100 {
  background-color: var(--clr-secondary-100) !important;
}

.text-secondary-200 {
  color: var(--clr-secondary-200) !important;
}

.bg-secondary-200 {
  background-color: var(--clr-secondary-200) !important;
}

.text-secondary-300 {
  color: var(--clr-secondary-300) !important;
}

.bg-secondary-300 {
  background-color: var(--clr-secondary-300) !important;
}

.text-secondary-400 {
  color: var(--clr-secondary-400) !important;
}

.bg-secondary-400 {
  background-color: var(--clr-secondary-400) !important;
}

.text-secondary-500 {
  color: var(--clr-secondary-500) !important;
}

.bg-secondary-500 {
  background-color: var(--clr-secondary-500) !important;
}

.text-accent-100 {
  color: var(--clr-accent-100) !important;
}

.bg-accent-100 {
  background-color: var(--clr-accent-100) !important;
}

.text-accent-200 {
  color: var(--clr-accent-200) !important;
}

.bg-accent-200 {
  background-color: var(--clr-accent-200) !important;
}

.text-accent-300 {
  color: var(--clr-accent-300) !important;
}

.bg-accent-300 {
  background-color: var(--clr-accent-300) !important;
}

.text-accent-400 {
  color: var(--clr-accent-400) !important;
}

.bg-accent-400 {
  background-color: var(--clr-accent-400) !important;
}

.text-accent-500 {
  color: var(--clr-accent-500) !important;
}

.bg-accent-500 {
  background-color: var(--clr-accent-500) !important;
}

.text-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100) !important;
}

.text-neutral-200 {
  color: var(--clr-neutral-200) !important;
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200) !important;
}

.text-neutral-300 {
  color: var(--clr-neutral-300) !important;
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300) !important;
}

.text-neutral-400 {
  color: var(--clr-neutral-400) !important;
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400) !important;
}

.text-neutral-500 {
  color: var(--clr-neutral-500) !important;
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500) !important;
}

.text-neutral-600 {
  color: var(--clr-neutral-600) !important;
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600) !important;
}

.text-neutral-700 {
  color: var(--clr-neutral-700) !important;
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700) !important;
}

.text-neutral-800 {
  color: var(--clr-neutral-800) !important;
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800) !important;
}

.text-neutral-900 {
  color: var(--clr-neutral-900) !important;
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900) !important;
}

.primary {
  --clr: var(--clr-primary-400);
}

.secondary {
  --clr: var(--clr-secondary-400);
}

.accent {
  --clr: var(--clr-accent-400);
}

.neutral {
  --clr: var(--clr-neutral-400);
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-100);
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: transparent;
  mix-blend-mode: hard-light;
  transition:
    width 500ms,
    height 500ms,
    background-color 500ms;
}
.cursor.active {
  height: 70px;
  width: 70px;
  background-color: var(--clr-neutral-400);
}

.cursor-dot {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 1;
  transition: opacity 500ms;
}
.cursor-dot.active {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--clr-neutral-900);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-600);
}

.hero {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hero__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 3;
}
.hero__menu-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  z-index: 2;
}
.hero__menu-button {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 30px;
  height: 30px;
  z-index: 3;
  transform: translateX(-50%);
  cursor: pointer;
}
.hero__title-1,
.hero__title-2 {
  user-select: none;
  position: absolute;
  font-size: clamp(
    2.827rem,
    calc(
      calc(2.827 - (calc((33.918 - 2.827) / (215 - 10)) * 10)) * 1rem +
        (calc((33.918 - 2.827) / (215 - 10)) * 100vw)
    ),
    33.918rem
  );
  font-weight: 900;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}
.hero__title-letter {
  display: inline-block;
  transition:
    scale 0.35s ease-in-out,
    color 0.35s ease-in-out;
}
.hero__title-letter:hover {
  scale: 1.1;
}
.hero__title-letter:hover + span {
  scale: 1.025;
}
.hero__title-letter:has(+ span:hover) {
  scale: 1.025;
}
.hero__title-1 {
  bottom: 52%;
  left: 0;
  right: 0;
}
.hero__title-2 {
  top: 52%;
  left: 0;
  right: 0;
}
.hero__subtitle {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: clamp(
    0.5rem,
    calc(
      calc(0.5 - (calc((2 - 0.5) / (215 - 10)) * 10)) * 1rem +
        (calc((2 - 0.5) / (215 - 10)) * 100vw)
    ),
    2rem
  );
  font-weight: 100;
  margin: 0;
  line-height: normal;
  letter-spacing: clamp(
    0.166rem,
    calc(
      calc(0.166 - (calc((3 - 0.166) / (215 - 10)) * 10)) * 1rem +
        (calc((3 - 0.166) / (215 - 10)) * 100vw)
    ),
    3rem
  );
  user-select: none;
  padding: 0 1rem;
}
.hero__subtitle strong {
  font-weight: 900;
}
.hero__video {
  user-select: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  top: 0;
  left: 0;
  overflow: hidden;
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
