@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
  --space-3xs: clamp(0.1875rem, 0.1534rem + 0.1705vi, 0.5625rem);
  --space-2xs: clamp(0.375rem, 0.3068rem + 0.3409vi, 1.125rem);
  --space-xs: clamp(0.5625rem, 0.4602rem + 0.5114vi, 1.6875rem);
  --space-s: clamp(0.75rem, 0.6136rem + 0.6818vi, 2.25rem);
  --space-m: clamp(1.125rem, 0.9205rem + 1.0227vi, 3.375rem);
  --space-l: clamp(1.5rem, 1.2273rem + 1.3636vi, 4.5rem);
  --space-xl: clamp(2.25rem, 1.8409rem + 2.0455vi, 6.75rem);
  --space-2xl: clamp(3rem, 2.4545rem + 2.7273vi, 9rem);
  --space-3xl: clamp(4.5rem, 3.6818rem + 4.0909vi, 13.5rem);
  --fs-xxs: clamp(0.6076rem, 0.5465rem + 0.3056vi, 1.28rem);
  --fs-xs: clamp(0.7292rem, 0.65rem + 0.3958vi, 1.6rem);
  --fs-s: clamp(0.875rem, 0.7727rem + 0.5114vi, 2rem);
  --fs-m: clamp(1.05rem, 0.9182rem + 0.6591vi, 2.5rem);
  --fs-l: clamp(1.26rem, 1.0905rem + 0.8477vi, 3.125rem);
  --fs-xl: clamp(1.512rem, 1.2943rem + 1.0883vi, 3.9063rem);
  --fs-2xl: clamp(1.8144rem, 1.5355rem + 1.3947vi, 4.8828rem);
  --fs-3xl: clamp(2.1773rem, 1.8203rem + 1.7847vi, 6.1035rem);
  --fs-4xl: clamp(2.6127rem, 2.1567rem + 2.2803vi, 7.6294rem);
  --fs-5xl: clamp(3.1353rem, 2.5533rem + 2.9098vi, 9.5367rem);
  --fs-6xl: clamp(3.7623rem, 3.0206rem + 3.7084vi, 11.9209rem);
  --fs-7xl: clamp(4.5148rem, 3.5706rem + 4.7211vi, 14.9012rem);
  --fs-8xl: clamp(5.4178rem, 4.217rem + 6.0039vi, 18.6265rem);
  --fs-header: clamp(4rem, 1.1429rem + 14.2857vi, 8rem);
  --layout-margin: var(--space-l);
  --layout-margin-2: calc(var(--layout-margin) * 2);
  --layout-margin-3: calc(var(--layout-margin) * 3);
  --logo-size: var(--fs-3xl);
  --icon-size: var(--fs-xl);
  --nav-height: calc(var(--layout-margin-2) * 2 + var(--logo-size));
  --clr-red-100: #fcc;
  --clr-red-200: #f99;
  --clr-red-300: #f66;
  --clr-red-400: #f33;
  --clr-red-500: #f00;
  --clr-red-600: #c00;
  --clr-red-700: #900;
  --clr-red-800: #600;
  --clr-red-900: #300;
  --clr-blue-100: #ccf;
  --clr-blue-200: #99f;
  --clr-blue-300: #66f;
  --clr-blue-400: #33f;
  --clr-blue-500: #00f;
  --clr-blue-600: #00c;
  --clr-blue-700: #009;
  --clr-blue-800: #006;
  --clr-blue-900: #003;
  --clr-purple-100: #e5cce5;
  --clr-purple-200: #c9c;
  --clr-purple-300: #b266b2;
  --clr-purple-400: #939;
  --clr-purple-500: #7f007f;
  --clr-purple-600: #606;
  --clr-purple-700: #4c004c;
  --clr-purple-800: #303;
  --clr-purple-900: #190019;
  --clr-neutral-100: #dbcdc6;
  --clr-neutral-200: #dccec7;
  --clr-neutral-300: #bbafaa;
  --clr-neutral-400: #9b918c;
  --clr-neutral-500: #7a726f;
  --clr-neutral-600: #595351;
  --clr-neutral-700: #393533;
  --clr-neutral-800: #292625;
  --clr-neutral-900: #191716;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 2rem;
  --fs-600: 2.827rem;
  --fs-700: 4rem;
  --fs-800: 5.653rem;
}
@media only screen and (min-width: 768px) {
  :root {
    --fs-header: clamp(8rem, 0.8889rem + 14.8148vi, 12rem);
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --fs-header: clamp(12rem, 10.1818rem + 2.4242vi, 16rem);
    --layout-margin: var(--space-m);
    --logo-size: var(--fs-3xl);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a label {
  cursor: pointer;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizespeed;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  font-size: var(--fs-xs);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2,
.h2 {
  font-size: 3.998rem;
}

h3,
.h3 {
  font-size: 2.827rem;
}

h4,
.h4 {
  font-size: 1.999rem;
}

h5,
.h5 {
  font-size: 1.414rem;
}

small,
.text_small {
  font-size: 0.707rem;
}

* {
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  min-height: 100svh !important;
  margin: 0;
  overflow-x: hidden;
}

main {
  position: relative;
  display: flex;
  background-color: var(--clr-neutral-900);
  min-height: 100svh;
}

.text-red-100 {
  color: var(--clr-red-100) !important;
}

.bg-red-100 {
  background-color: var(--clr-red-100) !important;
}

.text-red-200 {
  color: var(--clr-red-200) !important;
}

.bg-red-200 {
  background-color: var(--clr-red-200) !important;
}

.text-red-300 {
  color: var(--clr-red-300) !important;
}

.bg-red-300 {
  background-color: var(--clr-red-300) !important;
}

.text-red-400 {
  color: var(--clr-red-400) !important;
}

.bg-red-400 {
  background-color: var(--clr-red-400) !important;
}

.text-red-500 {
  color: var(--clr-red-500) !important;
}

.bg-red-500 {
  background-color: var(--clr-red-500) !important;
}

.text-red-600 {
  color: var(--clr-red-600) !important;
}

.bg-red-600 {
  background-color: var(--clr-red-600) !important;
}

.text-red-700 {
  color: var(--clr-red-700) !important;
}

.bg-red-700 {
  background-color: var(--clr-red-700) !important;
}

.text-red-800 {
  color: var(--clr-red-800) !important;
}

.bg-red-800 {
  background-color: var(--clr-red-800) !important;
}

.text-red-900 {
  color: var(--clr-red-900) !important;
}

.bg-red-900 {
  background-color: var(--clr-red-900) !important;
}

.text-blue-100 {
  color: var(--clr-blue-100) !important;
}

.bg-blue-100 {
  background-color: var(--clr-blue-100) !important;
}

.text-blue-200 {
  color: var(--clr-blue-200) !important;
}

.bg-blue-200 {
  background-color: var(--clr-blue-200) !important;
}

.text-blue-300 {
  color: var(--clr-blue-300) !important;
}

.bg-blue-300 {
  background-color: var(--clr-blue-300) !important;
}

.text-blue-400 {
  color: var(--clr-blue-400) !important;
}

.bg-blue-400 {
  background-color: var(--clr-blue-400) !important;
}

.text-blue-500 {
  color: var(--clr-blue-500) !important;
}

.bg-blue-500 {
  background-color: var(--clr-blue-500) !important;
}

.text-blue-600 {
  color: var(--clr-blue-600) !important;
}

.bg-blue-600 {
  background-color: var(--clr-blue-600) !important;
}

.text-blue-700 {
  color: var(--clr-blue-700) !important;
}

.bg-blue-700 {
  background-color: var(--clr-blue-700) !important;
}

.text-blue-800 {
  color: var(--clr-blue-800) !important;
}

.bg-blue-800 {
  background-color: var(--clr-blue-800) !important;
}

.text-blue-900 {
  color: var(--clr-blue-900) !important;
}

.bg-blue-900 {
  background-color: var(--clr-blue-900) !important;
}

.text-purple-100 {
  color: var(--clr-purple-100) !important;
}

.bg-purple-100 {
  background-color: var(--clr-purple-100) !important;
}

.text-purple-200 {
  color: var(--clr-purple-200) !important;
}

.bg-purple-200 {
  background-color: var(--clr-purple-200) !important;
}

.text-purple-300 {
  color: var(--clr-purple-300) !important;
}

.bg-purple-300 {
  background-color: var(--clr-purple-300) !important;
}

.text-purple-400 {
  color: var(--clr-purple-400) !important;
}

.bg-purple-400 {
  background-color: var(--clr-purple-400) !important;
}

.text-purple-500 {
  color: var(--clr-purple-500) !important;
}

.bg-purple-500 {
  background-color: var(--clr-purple-500) !important;
}

.text-purple-600 {
  color: var(--clr-purple-600) !important;
}

.bg-purple-600 {
  background-color: var(--clr-purple-600) !important;
}

.text-purple-700 {
  color: var(--clr-purple-700) !important;
}

.bg-purple-700 {
  background-color: var(--clr-purple-700) !important;
}

.text-purple-800 {
  color: var(--clr-purple-800) !important;
}

.bg-purple-800 {
  background-color: var(--clr-purple-800) !important;
}

.text-purple-900 {
  color: var(--clr-purple-900) !important;
}

.bg-purple-900 {
  background-color: var(--clr-purple-900) !important;
}

.text-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100) !important;
}

.text-neutral-200 {
  color: var(--clr-neutral-200) !important;
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200) !important;
}

.text-neutral-300 {
  color: var(--clr-neutral-300) !important;
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300) !important;
}

.text-neutral-400 {
  color: var(--clr-neutral-400) !important;
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400) !important;
}

.text-neutral-500 {
  color: var(--clr-neutral-500) !important;
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500) !important;
}

.text-neutral-600 {
  color: var(--clr-neutral-600) !important;
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600) !important;
}

.text-neutral-700 {
  color: var(--clr-neutral-700) !important;
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700) !important;
}

.text-neutral-800 {
  color: var(--clr-neutral-800) !important;
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800) !important;
}

.text-neutral-900 {
  color: var(--clr-neutral-900) !important;
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900) !important;
}

.red {
  --clr: var(--clr-red-500);
}

.blue {
  --clr: var(--clr-blue-500);
}

.purple {
  --clr: var(--clr-purple-500);
}

.light {
  --clr: var(--clr-neutral-100);
}

.dark {
  --clr: var(--clr-neutral-900);
}

.white {
  --clr: #fff;
}

.black {
  --clr: #000;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 var(--layout-margin);
  padding-top: var(--nav-height);
  padding-bottom: var(--layout-margin-2);
}
@media only screen and (min-width: 768px) {
  .container {
    margin-inline: var(--layout-margin-2);
  }
}

.canvas {
  position: absolute !important;
  inset: 0;
  opacity: 0.75;
}

.cursor {
  z-index: 1000;
  position: fixed;
  pointer-events: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-100);
  left: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition:
    width 250ms ease-out,
    height 250ms ease-out,
    background-color 250ms ease-out;
  mix-blend-mode: hard-light;
}
.cursor.hover {
  height: 65px;
  width: 65px;
  background-color: #dbcdc6;
}
.cursor.active {
  height: 76px !important;
  width: 76px !important;
  background-color: #dbcdc6;
}

.cursor-dot {
  z-index: 1000;
  position: fixed;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 500ms;
  mix-blend-mode: hard-light;
}
.cursor-dot.active {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background: var(--clr-neutral-900);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-600);
}

header {
  position: fixed;
  width: 100svw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: padding 0.2s ease-in-out;
  padding: var(--layout-margin-2) var(--layout-margin);
  box-shadow: 0 0 16px 4px rgba(25, 23, 22, 0);
}
header.scroll {
  padding-block: var(--layout-margin);
  box-shadow: 0 0 16px 4px #191716;
}
header.nav-background {
  background-color: rgba(25, 23, 22, 0.85);
  backdrop-filter: blur(0.7em);
}
header .navbar {
  --gap: var(--space-3xl);
  --item-gap: var(--space-xl);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}
header .navbar .logo {
  width: var(--logo-size);
  height: var(--logo-size);
  transition: scale 0.2s ease-in-out;
}
header .navbar .logo svg {
  width: 100%;
  height: 100%;
}
header .navbar .logo:hover {
  cursor: pointer;
  scale: 1.2;
}
header .navbar .links {
  display: flex;
  gap: var(--item-gap);
  align-items: center;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  header {
    padding-inline: calc(var(--layout-margin-3));
  }
}

.card {
  background: linear-gradient(to bottom, #292625, #292625);
  backdrop-filter: blur(7px);
  border-radius: 0.7rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border: 2px solid #393533;
}
.card__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card__content {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: #666;
}

.pill {
  display: inline-block;
  border-radius: var(--radius);
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-300);
  font-weight: 600;
  font-size: var(--fs-xxs);
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    scale 0.2s;
}
@media screen and (max-width: 768px) {
  .pill {
    font-size: var(--fs-xs);
  }
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  width: 100%;
  margin-bottom: 1em;
}
.socials > a {
  height: var(--layout-margin);
  width: var(--layout-margin);
  color: #dbcdc6;
  position: relative;
  transition: scale 0.2s ease-in-out;
}
.socials > a svg {
  width: 100%;
  height: 100%;
}
.socials > a div {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.socials > a:hover {
  scale: 1.2;
}
.socials::before {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #9b918c;
}
.socials::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #9b918c;
}

.heroWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: var(--layout-margin);
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}
.heroWrapper h1 {
  font-size: var(--fs-header);
  text-align: center;
  color: transparent;
  stroke: 0.03em var(--clr-neutral-100);
  -webkit-text-stroke: 0.03em var(--clr-neutral-100);
}
@media only screen and (min-width: 1200px) {
  .heroWrapper h1 {
    text-align: left;
  }
}
.heroWrapper h1 .beautiful .ampersand {
  font-weight: 100;
  font-size: 0.5em;
  font-style: italic;
  color: var(--clr-neutral-100);
  stroke: 0;
  -webkit-text-stroke: 0;
}
.heroWrapper h1 .emphasis {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0;
  transition: margin-left 0.5s;
}
@media only screen and (min-width: 1200px) {
  .heroWrapper h1 .emphasis {
    margin-left: 10svw;
  }
}
.heroWrapper h1 .emphasis .functional {
  display: inline-block;
  padding: 0;
  border-radius: 0.15em;
}
@media only screen and (min-width: 1200px) {
  .heroWrapper h1 .emphasis .functional {
    padding: var(--space-2xs) var(--space-s);
  }
}
.heroWrapper h1 .emphasis .functional .fun {
  position: relative;
  color: var(--clr-neutral-100);
}
.heroWrapper p {
  color: var(--clr-neutral-300);
  max-width: 60ch;
}

.projects {
  width: 100%;
}
.projects h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-header);
  margin-bottom: 1em;
  font-weight: 700;
  opacity: 0.3;
}

@keyframes fade-in {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.project-card {
  --radius: 0.7em;
  --space: 1.25em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border-radius: var(--radius);
  margin: 0;
  animation: fade-in 0.5s ease-out;
  height: 100%;
  padding: var(--space-m) var(--space-s);
  padding-top: var(--space-s);
  gap: var(--space);
  transition:
    height 0.3s ease-out,
    transform 0.2s ease-out,
    box-shadow 0.2s ease-out;
  background: linear-gradient(
    to bottom right,
    rgba(89, 83, 81, 0.5),
    rgba(41, 38, 37, 0.5)
  );
  backdrop-filter: blur(7px);
  overflow: hidden;
}
.project-card img {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
}
.project-card__overlay {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  transition:
    transform 0.2s ease-out,
    box-shadow 0.2s ease-out;
  gap: var(--space);
}
.project-card__overlay hr {
  height: 1px;
  border-width: 1px;
  border-color: rgba(155, 145, 140, 0.5);
}
.project-card__overlay__header {
  display: flex;
  flex-direction: column;
  gap: var(--space);
  border-radius: var(--radius) var(--radius) 0 0;
}
.project-card__overlay__header__title {
  font-size: var(--fs-l);
  font-weight: 600;
  width: 100%;
  line-height: 1;
  margin-inline: calc(var(--space-s) / 6);
}
.project-card__overlay__header__links {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-xs);
}
.project-card__overlay__header__links > * {
  flex: 1;
}
.project-card__overlay__header__links .divider {
  width: 1px;
  height: var(--fs-s);
}
.project-card__overlay__header__links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-100);
  border-radius: var(--radius);
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--fs-xs);
  font-weight: 600;
  transition:
    scale 0.2s ease-out,
    box-shadow 0.2s ease-out;
  gap: var(--space-s);
}
.project-card__overlay__header__links a svg {
  width: 1.5rem;
  height: 1.5rem;
}
.project-card__overlay__header__links a:nth-child(1) {
  background: var(--clr-neutral-900);
}
.project-card__overlay__header__links a:nth-child(1) .divider {
  background-color: var(--clr-neutral-400);
}
.project-card__overlay__header__links a:nth-child(2) {
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-100);
}
.project-card__overlay__header__links a:nth-child(2) .divider {
  background-color: var(--clr-neutral-800);
}
.project-card__overlay__header__links a:nth-child(2) svg {
  width: 1.25rem;
  height: 1.25rem;
}
.project-card__overlay__header__links a:only-child:hover {
  scale: 1.015;
  box-shadow: 0 0 5px 3px rgba(25, 23, 22, 0.5);
}
.project-card__overlay__header__links a:nth-child(1):hover {
  scale: 1.025;
  box-shadow: 0 0 5px 3px rgba(25, 23, 22, 0.5);
}
.project-card__overlay__header__links a:nth-child(2):hover {
  scale: 1.025;
  box-shadow: 0 0 5px 3px rgba(219, 205, 198, 0.5);
}
.project-card__overlay__header__links a:nth-child(1):focus {
  background: var(--clr-neutral-900);
  scale: 0.95;
}
.project-card__overlay__header__links a:nth-child(2):focus {
  background: var(--clr-neutral-100);
  scale: 0.95;
}
.project-card__overlay__header__links a:only-child:focus {
  background: var(--clr-neutral-900);
  scale: 0.975;
}
.project-card__overlay__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-m);
  line-height: 1.5;
  font-size: var(--fs-s);
}
.project-card__overlay__content__tags {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-3xs);
}
.project-card.no-image {
  padding-top: var(--space-m);
}
.project-card.featured {
  flex-direction: row;
  justify-content: start;
  padding: var(--space-s);
  height: 100%;
}
.project-card.featured .project-card__overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: unset;
  width: 50%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  justify-content: start;
  padding: var(--space-l) var(--space-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  backdrop-filter: blur(7px);
  background: linear-gradient(
    to bottom right,
    rgba(57, 53, 51, 0.8),
    rgba(25, 23, 22, 0.8)
  );
}
.project-card.featured .project-card__overlay__header {
  background: none;
  transform: none;
  padding: 0;
  gap: var(--space-m);
}
.project-card.featured .project-card__overlay__content {
  padding: 0;
  height: 100%;
  justify-content: space-between !important;
}
.project-card .hoverTrigger {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.project-card .hoverTrigger:hover ~ .project-card__overlay {
  transform: translateX(100%) !important;
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .project-card {
    flex-direction: column;
    gap: 2em !important;
    padding: var(--space-l) var(--space-m) !important;
  }
  .project-card .project-card__overlay {
    position: static;
    width: 100%;
    transform: none;
    height: 100%;
    background: none;
    gap: var(--space-m);
  }
  .project-card .project-card__overlay__header {
    transform: none;
    background: none;
    padding: 0;
    gap: var(--space-m);
  }
  .project-card .project-card__overlay__header__title {
    font-size: var(--fs-xl);
  }
  .project-card .project-card__overlay__header__links a {
    font-size: var(--fs-s);
  }
  .project-card .project-card__overlay__content {
    padding: 0;
    font-size: var(--fs-m);
  }
  .project-card.featured {
    flex-direction: column;
  }
  .project-card.featured .hoverTrigger {
    display: none;
  }
  .project-card.featured .project-card__overlay {
    background: none;
    padding: 0;
    position: static;
    width: 100%;
    right: unset;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    backdrop-filter: none;
  }
  .project-card.featured .project-card__overlay__header {
    background: none;
    transform: none;
  }
}
