.card {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
  padding: 1rem;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    color: #666;
  }
}
