@use '../abstracts' as *;

.card {
  // try colour gradients with light opacity

  $gradient-color: map-deep-get($colours, 'neutral', 800);
  $border-color: map-deep-get($colours, 'neutral', 700);
  $gradient-color-start: rgba($gradient-color, 1);
  $gradient-color-end: rgba($gradient-color, 1);

  background: linear-gradient(
    to bottom,
    $gradient-color-start,
    $gradient-color-end
  );
  backdrop-filter: blur(7px);
  border-radius: 0.7rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
  padding: 1rem;
  border: 2px solid $border-color;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    color: #666;
  }
}
