@use '../abstracts' as *;

header {
  $shadow-colour: rgba(map-deep-get($colours, 'neutral', 900), 0);
  $nav-background: rgba(map-deep-get($colours, 'neutral', 900), 0.85);
  $nav-active: rgba(map-deep-get($colours, 'neutral', 800), 0.75);
  $nav-hover: rgba(map-deep-get($colours, 'neutral', 800), 0.5);

  position: fixed;
  width: 100svw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: padding 0.2s ease-in-out;
  padding: var(--layout-margin-2) var(--layout-margin);
  box-shadow: 0 0 16px 4px $shadow-colour;

  &.scroll {
    $shadow-colour: rgba(map-deep-get($colours, 'neutral', 900), 1);

    padding-block: var(--layout-margin);
    box-shadow: 0 0 16px 4px $shadow-colour;
  }

  &.nav-background {
    background-color: $nav-background;
    backdrop-filter: blur(0.7em);
  }

  & .navbar {
    --gap: var(--space-3xl);
    --item-gap: var(--space-xl);

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

    .logo {
      width: var(--logo-size);
      height: var(--logo-size);
      transition: scale 0.2s ease-in-out;

      svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        cursor: pointer;
        scale: 1.2;
      }
    }

    .links {
      display: flex;
      gap: var(--item-gap);
      align-items: center;
    }
  }

  @include md-breakpoint {
    padding-inline: calc(var(--layout-margin-3));
  }
}
