@use '../abstracts' as *;

.pill {
  display: inline-block;
  border-radius: var(--radius);
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-300);
  font-weight: 600;
  font-size: var(--fs-xxs);
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    scale 0.2s;

  @media screen and (max-width: $md-breakpoint) {
    font-size: var(--fs-xs);
  }
}
