.pill {
  display: inline-block;
  border-radius: var(--radius);
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-400);
  font-weight: 600;
  font-size: var(--fs-xxs);
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.2s;

  &:hover {
    background-color: var(--clr-neutral-800);
    transform: scale(1.05);
  }
}
