@use '../abstracts' as *;

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  width: 100%;
  margin-bottom: 1em;

  & > a {
    height: var(--layout-margin);
    width: var(--layout-margin);
    color: rgba(map-deep-get($colours, 'neutral', 100), 1);
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }

    div {
      inset: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.2;
    }
  }

  &::before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(map-deep-get($colours, 'neutral', 400), 1);
  }

  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(map-deep-get($colours, 'neutral', 400), 1);
  }

  // @include md-breakpoint {
  //   display: flex;
  // }
}
