@use '../abstracts' as *;

@each $colour, $shade in $colours {
  @each $prop, $value in $shade {
    .text-#{$colour}-#{$prop} {
      color: var(--clr-#{$colour}-#{$prop}) !important;
    }

    .bg-#{$colour}-#{$prop} {
      background-color: var(--clr-#{$colour}-#{$prop}) !important;
    }
  }
}

.red {
  --clr: var(--clr-red-500);
}

.blue {
  --clr: var(--clr-blue-500);
}

.purple {
  --clr: var(--clr-purple-500);
}

.light {
  --clr: var(--clr-neutral-100);
}

.dark {
  --clr: var(--clr-neutral-900);
}

.white {
  --clr: #fff;
}

.black {
  --clr: #000;
}
