@use '../abstracts' as *;

.container {
  $gradient-color: map-deep-get($colours, 'neutral', 900);
  $gradient-color-start: rgba($gradient-color, 1);
  $gradient-color-end: rgba($gradient-color, 0);

  --bar-height: calc(var(--layout-margin-2));

  display: flex;
  width: 100%;
  margin: 0 var(--layout-margin);
  padding: 0 var(--layout-margin);
  margin-top: calc(var(--layout-margin-2) * 2 + var(--logo-size));
  margin-bottom: var(--layout-margin);
  padding-bottom: var(--layout-margin);

  @media screen and (max-width: $md-breakpoint) {
    margin-inline: calc(var(--layout-margin) / 2);
    padding-inline: calc(var(--layout-margin) / 2);
  }
}

.border-padding {
  padding: var(--layout-margin-2) 0;
}
