@use '../abstracts' as *;

.cursor {
  $background-colour: rgba(map-deep-get($colours, 'neutral', 100), 0.5);

  z-index: 1000;
  position: fixed;
  pointer-events: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-100);
  left: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  mix-blend-mode: hard-light;
  transition:
    width 250ms ease-out,
    height 250ms ease-out,
    background-color 250ms ease-out;

  &.hover {
    height: 65px;
    width: 65px;
    background-color: $background-colour;
  }

  &.active {
    height: 76px !important;
    width: 76px !important;
    background-color: $background-colour;
  }
}

.cursor-dot {
  z-index: 1000;
  position: fixed;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 500ms;

  &.active {
    opacity: 0;
  }
}
