@use '../abstracts' as *;
@use 'sass:map';
@use 'sass:color';

.canvas {
  position: absolute !important;
  inset: 0;

  // inset: var(--layout-margin);
  // width: calc(100% - var(--layout-margin-2)) !important;
  // height: calc(100% - var(--layout-margin-2)) !important;
  opacity: 0.75;
}
