.wrapper {
  composes: wrapper from global;

  overflow-x: clip;

  hr {
    width: calc(100% - 2rem);
    margin-inline: 1rem;
  }

  .carouselSectionWrapper {
    width: 100%;
  }

  .carouselCard {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--gradient-secondary);
    box-shadow: var(--shadow);

    border-radius: var(--radius);

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    .projectCardLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: 2.5rem;
      padding-bottom: 2rem;

      font-weight: 500;
    }

    .projectCardRight {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      padding-right: 2.5rem;
      padding-bottom: 2rem;

      .iconButton {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        overflow: hidden;
        --button-size: 3.5rem;

        width: var(--button-size);
        height: var(--button-size);
        background-color: var(--neutral-100);
        border-radius: var(--radius);
        padding: 0;
        box-shadow: var(--shadow-button);

        z-index: 5;

        transition: box-shadow 0.1s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;

        .iconWrapper {
          position: absolute;
          width: 2rem;
          height: 2rem;

          .icon {
            width: 100%;
            height: 100%;
            stroke: var(--neutral-900);
            stroke-width: 1.5;
          }
        }
      }

      .linkMenu {
        position: absolute;
        right: 0rem;
        top: 0rem;
        overflow: hidden;
        z-index: 4;
        width: calc(100%);
        height: calc(100%);
        padding: 1.5rem;
        padding-top: 5.5rem;
        border-radius: var(--radius);
        box-shadow: var(--shadow);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        background-color: var(--neutral-100);

        .item {
          display: flex;
          align-items: center;
          width: 100%;
          border-radius: var(--radius);
          /* border: 2px solid var(--neutral-900); */
          box-shadow: var(--shadow-button);

          a {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 1.5rem 1rem;
          }

          span {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {
              width: 1.5rem;
              height: 1.5rem;
              margin-bottom: 0.1rem;
            }
          }

          &.github {
            background-color: var(--github);
            color: var(--neutral-100);

            .icon {
              stroke: var(--neutral-100);
            }
          }

          &.website {
            background-color: var(--neutral-100);
            color: var(--neutral-900);

            .icon {
              stroke: var(--neutral-900);
            }
          }
        }
      }
    }
  }

  .carouselSelector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1000px;
    width: 100%;
    /* box-shadow: var(--shadow); */

    .chevron {
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.5rem;
      border-radius: 1000px;
      box-shadow: var(--shadow-button);

      svg {
        stroke: var(--neutral-900);
        stroke-width: 2;

        path {
          stroke-linecap: butt;
          stroke-linejoin: butt;
        }
      }
    }

    .dots {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;

      .dot {
        height: 1rem;
        aspect-ratio: 1 / 1;
        padding: 0;
        border-radius: 50%;
        background-color: var(--neutral-400);
      }
    }
  }

  .content {
    padding-top: var(--gap);
    padding-inline: 1rem;
    text-align: left;
  }
}
