@import './reset.css';

:root {
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2560px;

  --neutral-100: hsla(0, 0%, 98%, 1);
  --neutral-200: hsla(0, 0%, 88.2%, 1);
  --neutral-300: hsla(0, 0%, 78.4%, 1);
  --neutral-400: hsla(0, 0%, 68.6%, 1);
  --neutral-500: hsla(0, 0%, 49%, 1);
  --neutral-600: hsla(0, 0%, 39.2%, 1);
  --neutral-700: hsla(0, 0%, 29.4%, 1);
  --neutral-800: hsla(0, 0%, 19.6%, 1);
  --neutral-900: hsla(0, 0%, 9.8%, 1);

  --primary-100: hsla(44, 100%, 93.5%, 1);
  --primary-200: hsla(43, 100%, 87.3%, 1);
  --primary-300: hsla(43, 100%, 80.8%, 1);
  --primary-400: hsla(43, 100%, 74.5%, 1);
  --primary-500: hsla(43, 100%, 68%, 1);
  --primary-600: hsla(43, 56%, 54.5%, 1);
  --primary-700: hsla(43, 47.1%, 40.8%, 1);
  --primary-800: hsla(43, 46.8%, 27.3%, 1);
  --primary-900: hsla(44, 47.8%, 13.5%, 1);

  --secondary-100: hsla(43, 95.7%, 90.8%, 1);
  --secondary-200: hsla(43, 95.7%, 81.6%, 1);
  --secondary-300: hsla(43, 95.7%, 72.4%, 1);
  --secondary-400: hsla(43, 95.7%, 63.1%, 1);
  --secondary-500: hsla(43, 95.7%, 53.9%, 1);
  --secondary-600: hsla(43, 96.4%, 43.1%, 1);
  --secondary-700: hsla(43, 96.4%, 32.4%, 1);
  --secondary-800: hsla(43, 96.4%, 21.6%, 1);
  --secondary-900: hsla(43, 96.4%, 10.8%, 1);

  --tertiary-100: hsla(189, 92.5%, 89.6%, 1);
  --tertiary-200: hsla(188, 90.6%, 79.2%, 1);
  --tertiary-300: hsla(188, 91.2%, 68.8%, 1);
  --tertiary-400: hsla(188, 90.6%, 58.2%, 1);
  --tertiary-500: hsla(188, 91%, 48%, 1);
  --tertiary-600: hsla(188, 90.8%, 38.4%, 1);
  --tertiary-700: hsla(188, 90.5%, 28.8%, 1);
  --tertiary-800: hsla(188, 91.8%, 19.2%, 1);
  --tertiary-900: hsla(188, 91.8%, 9.6%, 1);

  --github: hsla(210, 12%, 19%, 1);

  --gradient-primary: linear-gradient(to top right, var(--secondary-500), var(--primary-300));
  --gradient-secondary: linear-gradient(to bottom left, var(--secondary-500), var(--secondary-200));
  --gradient-tertiary: linear-gradient(to top right, var(--tertiary-500), var(--tertiary-200));

  --fs-title: 5rem;
  --fs-section: 4.5rem;
  --fs-2xl: 2.5rem;
  --fs-xl: 1.5rem;
  --fs-lg: 1rem;
  --fs-md: 0.88rem;
  --fs-sm: 0.75rem;

  --scroll-margin-top: 12px;
  --section-gap: 4rem;

  --radius: 1rem;
  --gap: 2.5rem;
  --shadow: 0 0.25rem 1rem hsla(0, 0%, 9.8%, 0.2);
  --shadow-button: 0 0 1rem hsla(0, 0%, 9.8%, 0.2);

  --wrapper-padding-inline: 2.5rem;

  --nav-height: 5.5rem;
  --navbar-padding: 0.75rem;
  --navbar-margin-block: 1rem;
  --navbar-margin-inline: 1.5rem;

  --navbar-height: calc(var(--nav-height) + var(--navbar-margin-block) * 2);
}

h1,
h2 {
  font-family: var(--font-inter);
  letter-spacing: -0.05em;
}

h1 {
  font-size: var(--fs-title);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-xl);
  font-weight: 500;
}

/* Section Tests */
/* section {
  min-height: 100svh;
} */

a {
  text-underline-offset: 0.3rem;
}

hr {
  border: 1px solid var(--neutral-900);
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  scroll-margin-top: var(--scroll-margin-top);
  padding-bottom: var(--section-gap);
}

.section.about {
  background-color: var(--secondary-200);
  box-shadow: var(--shadow);
  scroll-margin-top: calc(var(--scroll-margin-top) - var(--section-gap));
  padding-bottom: 0;
}

.section.contact {
  padding-top: var(--section-gap);
  scroll-margin-top: calc(var(--scroll-margin-top) - var(--section-gap));
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > :first-child {
    width: 100%;
    font-size: var(--fs-lg);
    align-self: flex-end;
    font-weight: 500;
    text-align: right;
  }
  & > :last-child {
    width: 100%;
    font-size: var(--fs-2xl);
    font-weight: 700;
    align-self: flex-start;
    border-block: 2px solid var(--neutral-900);
    text-align: left;
  }
}

.wrapper {
  position: relative;

  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding-inline: var(--wrapper-padding-inline);
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (min-width: 48rem) {
    max-width: 48rem;
  }
}

.vr {
  width: 2px;
  height: 100%;
  background-color: var(--neutral-900);
}
