$colours: (
  primary: (
    100: hsl(200deg 89% 80%),
    200: hsl(200deg 89% 70%),
    300: hsl(200deg 89% 60%),
    400: hsl(200deg 89% 50%),
    500: hsl(200deg 89% 40%),
  ),
  secondary: (
    100: hsl(0deg 100% 80%),
    200: hsl(0deg 100% 70%),
    300: hsl(0deg 100% 60%),
    400: hsl(0deg 100% 50%),
    500: hsl(0deg 100% 40%),
  ),
  accent: (
    100: hsl(320deg 30% 80%),
    200: hsl(320deg 30% 70%),
    300: hsl(320deg 30% 60%),
    400: hsl(320deg 30% 50%),
    500: hsl(320deg 30% 40%),
  ),
  neutral: (
    100: hsl(0deg 0% 100%),
    200: hsl(0deg 0% 87%),
    300: hsl(0deg 0% 80%),
    400: hsl(0deg 0% 70%),
    500: hsl(0deg 0% 60%),
    600: hsl(0deg 0% 50%),
    700: hsl(0deg 0% 40%),
    800: hsl(0deg 0% 30%),
    900: hsl(0deg 0% 15%),
  ),
);
