@use 'breakpoints' as *;

@mixin pseudo(
  $loc: before,
  $content: '',
  $pos: absolute,
  $top: 0,
  $bottom: 0,
  $left: 0,
  $right: 0
) {
  position: relative;

  &::#{$loc} {
    content: $content;
    position: $pos;
    inset: $top $right $bottom $left;
    @content;
  }
}

@mixin xs-breakpoint {
  @media only screen and (max-width: $xs-breakpoint) {
    @content;
  }
}

@mixin sm-breakpoint {
  @media only screen and (min-width: $sm-breakpoint) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (min-width: $md-breakpoint) {
    @content;
  }
}

@mixin lg-breakpoint {
  @media only screen and (min-width: $lg-breakpoint) {
    @content;
  }
}

@mixin xl-breakpoint {
  @media only screen and (min-width: $xl-breakpoint) {
    @content;
  }
}
