.navbar {
  --nav-item-height: 64px;

  height: var(--nav-height);
  width: calc(100% - var(--navbar-margin-inline) * 2);
  margin: var(--navbar-margin-block) auto;
  padding: var(--navbar-padding);

  max-width: var(--breakpoint-xl);

  position: fixed;
  top: 0;
  left: 50%;
  z-index: 20;

  background-color: var(--neutral-100);
  border-radius: calc(var(--radius) + var(--navbar-padding));
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
    margin-inline-start: 0.25rem;
    height: 4rem;
    min-width: 3rem;

    .logo {
      height: 100%;
      aspect-ratio: 1;
      fill: var(--neutral-100);
    }
  }

  .navItems {
    display: grid;
    grid-template-columns: 0.1fr 0.2fr 0.2fr 0.5fr;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
  }

  .navItem {
    &:nth-child(1) {
      background-color: var(--secondary-500);
      align-items: center;
      justify-content: center;
      .sectionTitle {
        transform: translateY(0);
      }
      grid-column: 1 / span 4;
    }
    &:nth-child(2) {
      background-color: var(--secondary-500);
      display: none;
    }
    &:nth-child(3) {
      background-color: var(--primary-500);
      display: none;
    }
    &:nth-child(4) {
      background-color: var(--primary-300);
      display: none;
    }
    &:nth-child(5) {
      background-color: var(--tertiary-500);
      display: none;
    }

    height: 100%;
    padding: 0.75rem 1rem;
    overflow: hidden;

    border-radius: var(--radius);
    box-shadow: var(--shadow-button);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    text-decoration: none !important;
    text-align: left;

    .sectionTitle {
      white-space: nowrap;
      overflow: hidden;

      transform: translateY(50%);

      text-overflow: ellipsis;

      .sectionTitleExtended {
        display: none;
      }

      transition: transform 0.3s ease-in-out;
    }

    .number {
      display: none;
      margin-left: auto;

      transform: translateY(-50%);

      transition: transform 0.3s ease-in-out;
    }

    &.active {
      .sectionTitle {
        transform: translateY(0);
      }

      .number {
        transform: translateY(0);
        font-weight: 700;
      }
    }
  }

  .hamburger {
    z-index: 20;
    height: var(--nav-item-height);
    width: var(--nav-item-height);
    border-radius: var(--radius);
    border: none;
    position: relative;
    padding: 0;
    overflow: hidden;
    box-shadow: var(--shadow-button);

    flex: 0 0 var(--nav-item-height);

    cursor: pointer;
    backface-visibility: hidden;

    &:focus {
      outline: 0;
    }

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 25%;
      background-color: var(--neutral-100);
    }

    span:nth-child(even) {
      margin-right: 25%;
      border-radius: 0 var(--radius) var(--radius) 0;
    }

    span:nth-child(odd) {
      margin-left: 25%;
      border-radius: var(--radius) 0 0 var(--radius);
    }
  }

  .menu {
    z-index: 11;
    position: fixed;
    top: calc(-1 * var(--navbar-margin-block));
    right: 50%;
    width: 100svw;
    height: 100svh;
    transform: translate(50%);
    background-color: var(--neutral-100);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
    padding: var(--navbar-height) 2.25rem 3.5rem 2.25rem;

    .item {
      width: 100%;
      border-radius: var(--radius);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
      min-height: 12.5%;
      text-decoration: none !important;
      box-shadow: var(--shadow-button);

      &:nth-child(1) {
        background-color: var(--secondary-500);
      }
      &:nth-child(2) {
        background-color: var(--primary-500);
      }
      &:nth-child(3) {
        background-color: var(--primary-300);
      }
      &:nth-child(4) {
        background-color: var(--tertiary-500);
      }

      &.openInView {
        flex-grow: 1;
      }

      .title {
        align-self: end;
      }

      .number {
        font-weight: bold;
      }
    }
  }

  @media screen and (min-width: 37.5rem) {
    .navItem {
      .sectionTitle {
        .sectionTitleExtended {
          display: inline-block;
        }
      }
    }
  }

  @media screen and (min-width: 64rem) {
    max-width: 64rem;

    .navItem {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(n + 2) {
        display: flex;
      }

      .number {
        display: inline-block;
      }
    }

    .hamburger {
      display: none;
    }
  }

  @media screen and (min-width: 90rem) {
    max-width: 90rem;
  }

  @media screen and (min-width: 120rem) {
    max-width: 120rem;
  }
}
