@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Black';
  src: url('../fonts/ArchivoBlack.ttf') format('truetype');
  font-display: swap;
}
