@use '../abstracts' as *;

.heroWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.hero {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-xl);
}
