@use '../abstracts' as *;

.home {
  position: relative;
  display: flex;
  flex-direction: column;

  &__hero {
    position: relative;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__subtitle {
      display: flex;
      color: var(--clr-neutral-300);
      font-size: font-lerp(0.45, 2.5, 20, 215);
      font-weight: 100;
      letter-spacing: font-lerp(0.2, 2.5, 20, 215);
      user-select: none;
      z-index: 1;
      margin: 0;
      align-items: center;
      justify-content: center;
      gap: font-lerp(0.6, 3.75, 20, 215);

      & strong {
        color: var(--clr-neutral-100);
        font-weight: 900;
        text-indent: -1em;
        direction: rtl;
      }

      & .vertical {
        display: inline-block;
        background: var(--clr-purple-300);
        font-weight: 900;
        width: 0.2em;
        line-height: 0;
        height: 1.75em;
        margin: 0;
        transform: rotate(180deg);
      }
    }

    &__overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--clr-neutral-900);
    }

    &__title {
      user-select: none;
      font-size: font-lerp(4.25, 28, 20, 215);
      line-height: 1.25;
      font-weight: 900;
      margin: 0;

      &__letter {
        display: inline-block;
        transition:
          scale 0.35s ease-in-out,
          color 0.35s ease-in-out;

        &:hover {
          scale: 1.1;

          & + span {
            scale: 1.025;
          }
        }

        &:has(+ span:hover) {
          scale: 1.025;
        }
      }
    }
  }

  &__about {
    min-height: 100svh;
  }

  &__projects {
    min-height: 100svh;
  }

  &__contact {
    min-height: 100svh;
  }
}
